/* Fonts */
/* Text color */
/* Background color */
/* Border color */
/* Cubic time 250ms*/
/* Gradient */
/* Box-shadows */
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #212121;
  letter-spacing: 0.03em;
}

/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/* Utils */
.no-scroll {
  overflow: hidden;
}

.link {
  text-decoration: none;
  font-family: inherit;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-user-select {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Wrappers */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.no-top-padding {
  padding-top: 0;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.container--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* =======================
||						  ||
||	All list of main page ||
||						  ||
  ======================== */
.peculiarities__items,
.doing__items,
.team__members,
.clients__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* h2 title for sections */
.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.svg-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.svg-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #757575;
  border-radius: 50%;
  color: #757575;
  -webkit-animation: transformAnimation 10000ms linear infinite forwards;
          animation: transformAnimation 10000ms linear infinite forwards;
  -webkit-transition: color 500ms cubic-bezier(0.075, 0.82, 0.165, 1), background-color 800ms cubic-bezier(0.075, 0.82, 0.165, 1), border-color 250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: color 500ms cubic-bezier(0.075, 0.82, 0.165, 1), background-color 800ms cubic-bezier(0.075, 0.82, 0.165, 1), border-color 250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.svg-link:hover,
.svg-link:focus {
  color: #2196f3;
  border-color: #ffffff;
  background-color: #292a2c;
}

.social-icon {
  fill: currentColor;
}

.svg-link:nth-child(1) {
  -webkit-animation: firstAnimation 5000ms linear infinite alternate forwards;
          animation: firstAnimation 5000ms linear infinite alternate forwards;
}

.svg-link:nth-child(2) {
  -webkit-animation: transormAnimation 5000ms linear infinite alternate forwards;
          animation: transormAnimation 5000ms linear infinite alternate forwards;
}

/* .svg-link:nth-child(3) {
  animation: forwards;
}

.svg-link:nth-child(4) {
  animation: forwards;
}

.svg-link:nth-child(5) {
  animation: forwards;
}

.svg-link:nth-child(6) {
  animation: forwards;
} */
.comment-text {
  resize: none;
}

.form {
  width: 600px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form-field label {
  margin-bottom: 10px;
}

.form-field input {
  margin: 0;
  padding: 6px 10px;
}

.group {
  margin-bottom: 20px;
}

.group-title {
  margin-top: 0;
  margin-bottom: 10px;
}

.topic-options li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topic-options input[type=checkbox] {
  width: 12px;
  height: 12px;
}

.topic-options label {
  font-size: 15px;
  margin-left: 10px;
}

.experience-options .experience-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experience-options label {
  font-size: 15px;
  margin-left: 10px;
}

.foem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.foem label {
  margin-left: 10px;
}

.form-field .date {
  background-color: #757575;
  color: #eeeeee;
  border: #ffffff;
  border-radius: 8px;
}

.comment-text {
  padding: 25px;
}

.form__practise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
  -webkit-box-shadow: 2px 5px 4px 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 5px 4px 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.form__modal {
  position: relative;
  padding: 20px;
  width: 450px;
  background-color: green;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.close-btn {
  position: absolute;
  top: 6px;
  right: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  -webkit-transition: background-color 400ms cubic-bezier(0.4, 0, 0.2, 1), border-width 400ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, -webkit-box-shadow 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 400ms cubic-bezier(0.4, 0, 0.2, 1), border-width 400ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, -webkit-box-shadow 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 400ms cubic-bezier(0.4, 0, 0.2, 1), background-color 400ms cubic-bezier(0.4, 0, 0.2, 1), border-width 400ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: box-shadow 400ms cubic-bezier(0.4, 0, 0.2, 1), background-color 400ms cubic-bezier(0.4, 0, 0.2, 1), border-width 400ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, -webkit-box-shadow 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover, .close-btn:focus {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(26, 25, 25, 0.655);
  border-width: 3px;
}

.form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__group {
  margin-bottom: 10px;
  gap: 10px;
}

.form__label {
  margin-bottom: 4px;
  display: block;
  color: aqua;
}

.form__input {
  width: 356px;
  display: block;
  padding: 4px 20px;
  color: blueviolet;
  background-color: yellow;
}
.form__input::-webkit-input-placeholder {
  color: orangered;
}
.form__input::-moz-placeholder {
  color: orangered;
}
.form__input:-ms-input-placeholder {
  color: orangered;
}
.form__input::-ms-input-placeholder {
  color: orangered;
}
.form__input::placeholder {
  color: orangered;
}

.form__radio-wrp {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.form__checkbox-label {
  display: block;
  padding: 4px;
}

.form__time {
  display: block;
  padding: 8px;
}

.form__commit {
  display: block;
  width: 410px;
  margin: 0 auto;
}

.form__commit-text {
  padding: 10px;
  resize: none;
}
.form__commit-text::-webkit-input-placeholder {
  color: olivedrab;
}
.form__commit-text::-moz-placeholder {
  color: olivedrab;
}
.form__commit-text:-ms-input-placeholder {
  color: olivedrab;
}
.form__commit-text::-ms-input-placeholder {
  color: olivedrab;
}
.form__commit-text::placeholder {
  color: olivedrab;
}

.btn {
  display: block;
  margin: 0 auto;
  min-width: 30px;
  padding: 6px 20px;
  border: 1px solid #ffffff;
  border-radius: 6px;
  text-transform: uppercase;
}

.form__submit-btn {
  margin-bottom: 20px;
  text-align: center;
  color: orange;
  background-color: antiquewhite;
  border-color: blue;
  -webkit-box-shadow: 2px 4px 2px aquamarine;
          box-shadow: 2px 4px 2px aquamarine;
  -webkit-transition: border-color 400ms cubic-bezier(0.4, 0, 0.2, 1), color 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 100ms, background-color 400ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 100ms;
  transition: border-color 400ms cubic-bezier(0.4, 0, 0.2, 1), color 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 100ms, background-color 400ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 100ms;
  transition: border-color 400ms cubic-bezier(0.4, 0, 0.2, 1), color 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 100ms, background-color 400ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 100ms;
  transition: border-color 400ms cubic-bezier(0.4, 0, 0.2, 1), color 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 100ms, background-color 400ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 100ms, -webkit-box-shadow 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 100ms;
}
.form__submit-btn:hover, .form__submit-btn:focus {
  -webkit-box-shadow: 2px 5px 4px 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 5px 4px 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-color: orangered;
  background-color: #212121;
  color: #ffffff;
}

.form__reset-btn {
  margin-bottom: 20px;
  text-align: center;
  color: red;
  background-color: antiquewhite;
  border-color: blue;
  -webkit-box-shadow: 2px 4px 2px aquamarine;
          box-shadow: 2px 4px 2px aquamarine;
  -webkit-transition: border-color 400ms cubic-bezier(0.4, 0, 0.2, 1), color 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 100ms, background-color 400ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 100ms;
  transition: border-color 400ms cubic-bezier(0.4, 0, 0.2, 1), color 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 100ms, background-color 400ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 100ms;
  transition: border-color 400ms cubic-bezier(0.4, 0, 0.2, 1), color 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 100ms, background-color 400ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 100ms;
  transition: border-color 400ms cubic-bezier(0.4, 0, 0.2, 1), color 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 100ms, background-color 400ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 100ms, -webkit-box-shadow 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 100ms;
}
.form__reset-btn:hover, .form__reset-btn:focus {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-color: orangered;
  background-color: #757575;
  color: #ffffff;
}

@-webkit-keyframes firstAnimation {
  0% {
    background-color: pink;
    color: black;
  }
  30% {
    background-color: #757575;
    color: #ffffff;
  }
  50% {
    background-color: #2196f3;
    color: yellow;
  }
  70% {
    background-color: red;
    color: olivedrab;
  }
  90% {
    background-color: black;
    color: pink;
  }
  100% {
    background-color: aqua;
    color: #212121;
  }
}

@keyframes firstAnimation {
  0% {
    background-color: pink;
    color: black;
  }
  30% {
    background-color: #757575;
    color: #ffffff;
  }
  50% {
    background-color: #2196f3;
    color: yellow;
  }
  70% {
    background-color: red;
    color: olivedrab;
  }
  90% {
    background-color: black;
    color: pink;
  }
  100% {
    background-color: aqua;
    color: #212121;
  }
}
@-webkit-keyframes transformAnimation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes transformAnimation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.container-animation {
  padding: 40px;
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 32px;
}

.container-animation .box {
  position: relative;
  width: 256px;
  height: 256px;
  background-color: bisque;
  -webkit-animation-name: scale-item;
          animation-name: scale-item;
  -webkit-animation-duration: 5000ms;
          animation-duration: 5000ms;
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.container-animation .box:hover::after {
  position: absolute;
  top: 10px;
  left: 10px;
  content: "";
  width: 236px;
  height: 236px;
  border: 5px dotted greenyellow;
  -webkit-animation-name: border-animate;
          animation-name: border-animate;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.text {
  display: block;
  padding: 30px;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
}

.text:hover {
  -webkit-animation: firstAnimation 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 300ms infinite;
          animation: firstAnimation 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 300ms infinite;
}

@-webkit-keyframes scale-item {
  0% {
    -webkit-transform: scale(0.25);
            transform: scale(0.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-item {
  0% {
    -webkit-transform: scale(0.25);
            transform: scale(0.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes border-animate {
  0% {
    border-style: dotted;
  }
  100% {
    border-style: dashed;
  }
}
@keyframes border-animate {
  0% {
    border-style: dotted;
  }
  100% {
    border-style: dashed;
  }
}
/* 
@keyframes skew-rotate {
	0% {
		background-color:  ;a: skew(50deg);
	}
	30% {
		transform: rotate(1turn);
	}
	60% {
		transform: skew(60deg);
	}
	80% {
		transform: skew(150deg);
	}
	100% {
		transform: skew(180deg);
	}
} */
/* CSS Transform */
.container-transform {
  padding: 15px;
  margin: 0 auto;
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 30px;
}

.box-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 200px;
  background-color: aqua;
  border: 1px solid black;
  -webkit-box-shadow: 3px 2px 4px rgba(200, 150, 15, 0.8);
          box-shadow: 3px 2px 4px rgba(200, 150, 15, 0.8);
  -webkit-transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 100ms;
  transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 100ms;
  -webkit-transform-origin: center left;
          transform-origin: center left;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.box-text {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.25;
}

.box-1:nth-child(1) {
  background-color: #fff;
}

.box-1:nth-child(2) {
  background-color: pink;
}

.box-1:nth-child(3) {
  background-color: green;
}

.box-1:nth-child(4) {
  background-color: gray;
}

.box-1:nth-child(5) {
  background-color: rebeccapurple;
}

.box-1:nth-child(6) {
  background-color: blue;
}

.box-1:nth-child(7) {
  background-color: yellowgreen;
}

.box-1:nth-child(8) {
  background-color: goldenrod;
}

.box-1:nth-child(1):hover {
  -webkit-transform: rotate(75deg);
          transform: rotate(75deg);
}

.box-1:nth-child(2):hover {
  -webkit-transform: rotateY(60deg);
          transform: rotateY(60deg);
}

.box-1:nth-child(3):hover {
  -webkit-transform: translate(30px, 80px);
          transform: translate(30px, 80px);
}

.box-1:nth-child(4):hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.box-1:nth-child(5):hover {
  -webkit-transform: skewX(25deg) skewY(40deg);
          transform: skewX(25deg) skewY(40deg);
}

.box-1:nth-child(6):hover {
  -webkit-transform: matrix(1, 0, 0, 1, 34, -55);
          transform: matrix(1, 0, 0, 1, 34, -55);
}

.box-1:nth-child(7):hover {
  -webkit-transform: perspective(300px) rotateX(50deg) rotateX(-15deg) rotateZ(30deg);
          transform: perspective(300px) rotateX(50deg) rotateX(-15deg) rotateZ(30deg);
}

.box-1:nth-child(8):hover {
  -webkit-transform: perspective(100px) translate3D(-40px, -50px, -60px);
          transform: perspective(100px) translate3D(-40px, -50px, -60px);
}

.box-1:nth-child(9):hover {
  -webkit-transform: scale3d(1, -2, -2);
          transform: scale3d(1, -2, -2);
}

.box-1:nth-child(10):hover {
  -webkit-transform: rotate3d(1, 1, 1, 380deg);
          transform: rotate3d(1, 1, 1, 380deg);
}

.box-1:nth-child(11):hover {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

/* .box-1:nth-child(12):hover {
	transform: translate3d(15px, 12px, 18px) rotate3d(20px, 30px, 15px, 20deg); *//*# sourceMappingURL=main.css.map */