.comment-text {
	resize: none;
}

.form {
	width: 600px;
	background-color: $prime-white;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

.form-field {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.form-field label {
	margin-bottom: 10px;
}

.form-field input {
	margin: 0;
	padding: 6px 10px;
}

.group {
	margin-bottom: 20px;
}

.group-title {
	margin-top: 0;
	margin-bottom: 10px;
}

.topic-options li {
	display: flex;
	align-items: center;
}

.topic-options input[type="checkbox"] {
	width: 12px;
	height: 12px;
}

.topic-options label {
	font-size: 15px;
	margin-left: 10px;
}

.experience-options .experience-item {
	display: flex;
	align-items: center;
}

.experience-options label {
	font-size: 15px;
	margin-left: 10px;
}

.foem {
	display: flex;
	margin-bottom: 20px;
}

.foem label {
	margin-left: 10px;
}

.form-field .date {
	background-color: #757575;
	color: #eeeeee;
	border: $prime-white;
	border-radius: 8px;
}

.comment-text {
	padding: 25px;
}

.form__practise {
	display: flex;
	flex-direction: column;
	margin-top: 40px;
	box-shadow: 2px 5px 4px $modal-shadow-color;
}

.form__modal {
	position: relative;
	padding: 20px;
	width: 450px;
	background-color: green;
	box-shadow: $work-btn-shadow;
}

.close-btn {
	position: absolute;
	top: 6px;
	right: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border: 1px solid $prime-white;
	border-radius: 50%;
	transition: box-shadow $time-cubic, background-color $time-cubic, border-width $time-cubic 250ms;
	&:hover,
	&:focus {
		box-shadow: $team-member-shadow;
		background-color: rgba(26, 25, 25, 0.655);
		border-width: 3px;
	}
}

.form__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form__group {
	margin-bottom: 10px;
	gap: 10px;
}

.form__label {
	margin-bottom: 4px;
	display: block;
	color: aqua;
}

.form__input {
	width: 356px;
	display: block;
	padding: 4px 20px;
	color: blueviolet;
	background-color: yellow;
	&::placeholder {
		color: orangered;
	}
}

.form__radio-wrp {
	padding: 10px;
	display: flex;
	align-items: center;
	gap: 15px;
}

// .form__checkbox-wrp {
// 	display: flex;
// 	justify-content: center;
// 	flex-direction: column;
// 	gap: 15px;
// }
.form__checkbox-label {
	display: block;
	padding: 4px;
}

.form__time {
	display: block;
	padding: 8px;
}

.form__commit {
	display: block;
	width: 410px;
	margin: 0 auto;
}

.form__commit-text {
	padding: 10px;
	resize: none;
	&::placeholder {
		color: olivedrab;
	}
}

.btn {
	display: block;
	margin: 0 auto;
	min-width: 30px;
	padding: 6px 20px;
	border: 1px solid $prime-white;
	border-radius: 6px;

	text-transform: uppercase;
}

.form__submit-btn {
	margin-bottom: 20px;
	text-align: center;
	color: orange;
	background-color: antiquewhite;
	border-color: blue;
	box-shadow: 2px 4px 2px aquamarine;
	transition: border-color $time-cubic, color $time-cub, background-color $time-cubic,
		box-shadow $time-cub;
	&:hover,
	&:focus {
		box-shadow: 2px 5px 4px $modal-shadow-color;
		border-color: orangered;
		background-color: $prime-color;
		color: $prime-white;
	}
}

.form__reset-btn {
	margin-bottom: 20px;
	text-align: center;
	color: red;
	background-color: antiquewhite;
	border-color: blue;
	box-shadow: 2px 4px 2px aquamarine;
	transition: border-color $time-cubic, color $time-cub, background-color $time-cubic,
		box-shadow $time-cub;
	&:hover,
	&:focus {
		box-shadow: $team-member-shadow;
		border-color: orangered;
		background-color: $grey-text;
		color: $prime-white;
	}
}

/* contacts form */
.contacts {
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;

	background-color: #191c26;

	background-image: url(../images/contacts/contacts-bg.png);
	background-repeat: no-repeat;
	background-position: top 0 left calc(50% + 328px);
}

.contatcs-container {
	display: flex;
}

.contacts-left-side,
.contacts-group {
	flex-basis: 50%;
}
.contacts-group {
	padding-left: 100px;
}

.contacts-address {
	margin-bottom: 66px;

	font-style: normal;
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;
	color: #9da4bd;
}

.contacts-schedule {
	color: #ffffff;
}

.contacts-time {
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;
	color: #9da4bd;
}

.contact-form {
	width: 560px;
}
.contact-form-wrap {
	display: flex;
	align-items: center;
	gap: 30px;

	margin-bottom: 44px;
}

.contact-form-group {
	position: relative;
	display: block;
}

.contact-form-group:first-child {
	flex-basis: 270px;
}
.contact-form-group:last-child {
	flex-basis: 260px;
}

.contact-form-input {
	width: 100%;
	height: 24px;
	padding-right: 30px;

	font-size: 12px;
	color: #ffffff;

	border: none;
	border-bottom: 1px solid rgba(157, 164, 189, 0.4);
	outline: transparent;
	background-color: transparent;

	transition: border-color var(--anim-fast);
}

.contact-form-input:focus,
.contact-form-input:not(:placeholder-shown) {
	border-color: #ffffff;
}

.contact-form-input:required:valid:not(:placeholder-shown) {
	border-color: rgb(31, 109, 0);
}
.contact-form-input:required:invalid:not(:placeholder-shown) {
	border-color: rgb(255, 217, 0);
}

.contact-form-input::placeholder {
	color: transparent;
	transition: color var(--anim-fast);
}

.contact-form-input:focus::placeholder {
	color: rgba(157, 164, 189, 0.4);
}

.contact-form-label {
	position: absolute;
	top: 0;
	left: 0;

	transform-origin: top left;
	transition: transform var(--anim-fast), color var(--anim-fast);

	font-weight: 600;
	font-size: 11px;
	line-height: calc(15 / 11);
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: rgba(157, 164, 189, 0.4);
}

.contact-form-input:focus + .contact-form-label,
.contact-form-input:not(:placeholder-shown) + .contact-form-label,
.contact-form-message:focus + .contact-form-label,
.contact-form-message:not(:placeholder-shown) + .contact-form-label {
	color: #ffffff;
	transform: translateY(-15px) scale(0.8);
}

.contact-form-icon {
	position: absolute;
	top: 0;
	right: 5px;
}

.contact-form-warning,
.contact-form-success {
	opacity: 0;
	transform: scale(0.4);
	transform-origin: center;

	transition: opacity var(--anim-fast), transform var(--anim-fast);
}

.contact-form-warning {
	fill: rgb(255, 217, 0);
}

.contact-form-input:invalid:required:not(:placeholder-shown)
	~ .contact-form-icon
	.contact-form-warning {
	opacity: 1;
	transform: scale(1);
}

.contact-form-success {
	fill: rgb(31, 109, 0);
}

.contact-form-input:valid:required:not(:placeholder-shown)
	~ .contact-form-icon
	.contact-form-success {
	opacity: 1;
	transform: scale(1);
}

.contact-form-notfication {
	display: inline-block;
	width: 100%;

	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 15px) scale(0.3);
	transform-origin: center;
	opacity: 0;
	transition: opacity var(--anim-fast), transform var(--anim-fast);

	font-size: 9px;
	color: rgb(255, 217, 0);
	text-align: center;
}

.contact-form-input:invalid:required:not(:placeholder-shown) ~ .contact-form-notfication {
	opacity: 1;
	transform: translate(-50%, 15px) scale(1);
}

.contact-form-message {
	width: 100%;
	height: 76px;

	font-size: 12px;
	color: #ffffff;

	border: none;
	border-bottom: 1px solid rgba(157, 164, 189, 0.4);
	outline: transparent;
	background-color: transparent;
	resize: none;

	transition: border-color var(--anim-fast);
}

.contact-form-message:focus,
.contact-form-message:not(:placeholder-shown) {
	border-color: #ffffff;
}

.contact-form-btn {
	margin-top: 44px;
}
